<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c1 {
            height: 100px;
            width: 100px;
            /*border: 1px solid red;*/

            /*border: 1px dotted #333333;*/

            /*border: 1px solid red;*/
            /*border-left: 4px solid green;*/

            /*border: 1px solid red;*/
            /*!* 透明色 *!*/
            /*border-left: 4px solid transparent;*/

            border-left: 2px solid transparent;
        }

        .c1:hover {
            border-left: 2px solid yellow;
        }
    </style>
</head>
<body>
<div class="c1">
    菜单
</div>
</body>
</html>