<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .outer{
            border: 2px solid black;
            height: 200px;
            width: 400px;
            padding: 20px 10px 10px;
            /*padding-top: 20px;*/
            /*padding-left: 10px;*/
            /*padding-right: 10px;*/
            /*padding-bottom: 10px;*/
        }
    </style>
</head>
<body>
<div class="outer">
    <div style="background-color: gold;">听妈妈的话</div>
    <div>要早点回家</div>
</div>
</body>
</html>