<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    $END$
    <hr>
    <h1>输入框</h1>
    <hr>
    <input type="text" />
    <br>
    <hr>
    <input type="password" />
    <br>
    <hr>
    <input type="file" />
    <br>
    <hr>
    <input type="radio" name="n1" /> 男
    <input type="radio" name="n1" /> 女
    <br>
    <hr>

    <input type="checkbox" /> 唱
    <br>
    <input type="checkbox" /> 跳
    <br>
    <input type="checkbox" /> rap
    <br>
    <input type="checkbox" /> 篮球
    <br>
    <input type="checkbox" /> 足球
    <br>
    <input type="checkbox" /> 悠悠球
    <br>

    <input type="button" value="登录"/>
    <br>

    <h1>下拉框</h1>
    <select>
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
        <option>深圳</option>
    </select>
    <h1>多选下拉框</h1>
    <select multiple>
    <option>北京</option>
    <option>上海</option>
    <option>广州</option>
    <option>深圳</option>
    </select>
    <h1>多行文本</h1>
    <textarea>多行文本</textarea>
    <textarea rows="3">多行文本</textarea>
    <hr>
    计算机科学与技术
    <br>
    <!-- 跳转到别人的网站 -->
    <a href="https://www.baidu.com">点击跳转</a>
    <br>
    <!-- 跳转到自己的网站 -->
    <a href="http://127.0.0.1:5000/get/news">更多</a>
    <a href="/get/news">更多</a>
    <br>
    <!--
    <img src="https://pic.netbian.com/uploads/allimg/221216/095854-1671155934fedf.jpg">
    -->
    <img style="height:400px" src="/static/图片01.jpg">
    <!-- 列表 -->
    <h1>运营商列表</h1>
    <ul>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ul>

    <ol>
        <li>中国移动</li>
        <li>中国电信</li>
        <li>中国联通</li>
    </ol>

    <table border="1">
    <thead> <tr> <th>ID</th> <th>name</th> <th>age</th> </tr> </thead>
    <tbody>
        <tr> <td>100001</td> <td>buweishi</td> <td>19</td> </tr>
        <tr> <td>100002</td> <td>buwei</td> <td>19</td> </tr>
        <tr> <td>100003</td> <td>weishi</td> <td>19</td> </tr>
        <tr> <td>100004</td> <td>bushi</td> <td>19</td> </tr>
        <tr> <td>100005</td> <td>bws</td> <td>19</td> </tr>
    </tbody>

</table>
    <a></a>
</body>
</html>
