<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pictures</title>
</head>
<body>
<h1>商品列表</h1>
  <a href="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d91bb6cf7da0947e8a6e50e03f4daf06.jpg?thumb=1&w=293&h=768&f=webp&q=90" target = "_blank">
    <img style="height: 200px" src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d91bb6cf7da0947e8a6e50e03f4daf06.jpg?thumb=1&w=293&h=768&f=webp&q=90">
  </a>
  <a href="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/94c6497b70f2e881460cb232082a0da6.png?thumb=1&w=250&h=250&f=webp&q=90" target = "_blank">
    <img style="height: 200px" src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/94c6497b70f2e881460cb232082a0da6.png?thumb=1&w=250&h=250&f=webp&q=90">
  </a>
  <a href="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d91bb6cf7da0947e8a6e50e03f4daf06.jpg?thumb=1&w=293&h=768&f=webp&q=90" target = "_blank">
    <img style="height: 200px" src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d91bb6cf7da0947e8a6e50e03f4daf06.jpg?thumb=1&w=293&h=768&f=webp&q=90">
  </a>
</body>
</html>
