<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tpl</title>
</head>
<body>
<h1>tpl 页面</h1>
<div>
	{{ n1 }}
</div>

<div>
	{{ n2 }}
</div>

<div>
	{{ n2.0 }}
	{{ n2.1 }}
	{{ n2.2 }}
</div>
<div>
	{% for item in n2 %}
	<span>{{ item }}</span>
	{% endfor %}
</div>
<hr/>

{{ n3 }}
{{ n3.name }}
{{ n3.salary }}
{{ n3.roles }}
<hr/>
{% for k, v in n3.items %}
	<li>{{ k }} {{ v }}</li>
{% endfor %}

{% for k in n3.keys %}
	<li>{{ k }}</li>
{% endfor %}

{% for v in n3.values %}
	<li>{{ v }}</li>
{% endfor %}

<hr/>


{{ n4 }}
<br>
{{ n4.0 }}
{{ n4.1 }}
<br>
{{ n4.0.name }}
{{ n4.1.salary }}

<hr/>
{% for item in n4 %}
	<div>{{ item.name }}</div>
	<div>{{ item.salary }}</div>
{% endfor %}

<hr/>

{% if n1 == 'buweishi' %}
	<h1>dadadada</h1>
{% elif n1 == 'denghaoliang'%}
	<h1>biubiubiu</h1>
{% else %}
	<h1>dudududu</h1>
{% endif %}
</body>
</html>