<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>瑾瑜-漫漫长路，起伏不能由我，人海漂泊，尝尽人情淡薄。</title>
</head>
<body>
<h1>Info List</h1>
<a href="/info/add/">添加用户</a>
<table border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>姓名</th>
			<th>密码</th>
			<th>年龄</th>
			<th>操作</th>
		</tr>
	</thead>

	<tbody>
	{% for item in n1 %}
		<tr>
			<td>{{ item.id }}</td>
			<td>{{ item.username }}</td>
			<td>{{ item.age }}</td>
			<td>{{ item.password }}</td>
			<td> <a href="/info/delete/?nid={{ item.id }}"> 删除 </a> </td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</body>
</html>