<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test_templates</title>
</head>
<body>
<h1>学习模板语法</h1>
{#<div>#}
{#    {{ n1 }}#}
{#</div>#}
{##}
{#<div>#}
{#    {{ n2 }}#}
{#</div>#}
{##}
{#<div>#}
{#    {{ n2.0 }}#}
{#</div>#}
{#<div>#}
{#    {{ n2.1 }}#}
{#</div>#}
{#<div>#}
{#    {{ n2.2 }}#}
{#</div>#}
{##}
{#<div>#}
{#    {% for item in n2 %}#}
{#        <span>{{ item }}</span>#}
{#    {% endfor %}#}
{#</div>#}
{##}
{#<hr/>#}
{##}
{#<div>#}
{#    {{ n3 }}#}
{#</div>#}
{##}
{##}
{#<div>#}
{#    {{ n3.username }}#}
{#</div>#}
{##}
{#<div>#}
{#    {{ n3.password }}#}
{#</div>#}
{##}
{#<div>#}
{#    {{ n3.email }}#}
{#</div>#}

{#<div>#}
{#    <ul>#}
{#        {% for item in n3.keys %}#}
{#            <li> {{ item }} </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}
{##}
{#<div>#}
{#    <ul>#}
{#        {% for item in n3.values %}#}
{#            <li> {{ item }} </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}
{##}
{#<div>#}
{#    <ul>#}
{#        {% for item in n3.items %}#}
{#            <li> {{ item }} </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}

{#<div>#}
{#    {{ n4 }}#}
{#</div>#}
{##}
{#<div>#}
{#    {{ n4.0 }}#}
{#</div>#}
{##}
{#<div>#}
{#    {{ n4.0.username }}#}
{#</div>#}
{##}
{#<div>#}
{#    {% for item in n4 %}#}
{#        <div>{{ item.username }} -- {{ item.password }}</div>#}
{#    {% endfor %}#}
{#</div>#}

<div>
    {% if n1 == "computer" %}
        <h1>哒哒哒哒哒</h1>
    {% elif n1 == "xxx" %}
        <h1>xxx</h1>
    {% else %}
        <h1>咕噜咕噜咕噜</h1>
    {% endif %}
</div>

</body>
</html>