<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我是孩童啊，走在你的眼眸。</title>
    <!--    <link rel="stylesheet" href="./static/plugins/bootstrap-3.4.1/css/bootstrap.css"/>-->
    <!--    <link rel="stylesheet" href="./static/plugins/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">-->
    <!--    <link rel="stylesheet" href="./static/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css">-->
</head>
<body>

<h1>添加用户</h1>

<form method="post" action="/add/user">
    <div>
        用户名 <input type="text" name="user" placeholder="用户名"/>
    </div>
    <div>
        密码 <input type="password" name="pwd" placeholder="密码"/>
    </div>
    <div>
        手机号 <input type="mobile" name="mobile" placeholder="手机号"/>
    </div>
    <div>
        <input type="submit" value="提 交"/>
    </div>
</form>

<!--<script src="./static/js/jquery37/jquery-3.7.1.js"></script>-->
<!--<script src="./static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>-->
<!--<script>-->
<!--    /// ...-->
<!--</script>-->
</body>
</html>