<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你是明月清风，我是你照拂的梦。</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            用户名
        </th>
        <th>
            用户密码
        </th>
        <th>
            手机号
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            #
        </td>
        <td>
            {{user_name}}
        </td>
        <td>
            {{password}}
        </td>
        <td>
            {{mobile}}
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>