<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是title</title>
</head>
<body>
<!--    <h1>哈哈哈哈</h1>-->
<!--    <h1>嘻嘻嘻嘻</h1>-->
<!--    <h1>一级标题</h1>-->
<!--    <h2>二级标题</h2>-->
<!--    <h3>三级标题</h3>-->
<!--    <h4>四级标题</h4>-->
<!--    <h5>五级标题</h5>-->
<!--    <h6>六级标题</h6>-->
<div>abcd</div>
<div>efgh</div>
<div>

    <a href="https://www.baidu.com"> 点击跳转 </a> <br>
    <a href="/get/news"> 点击跳转 </a>
</div>

<!--<img style="height: 500px" src="https://pic.3gbizhi.com/uploadmark/20220916/35c9f1a1e642ba133b0efc2b58b9ae02.png"/>-->
<!--<img style="height: 500px" src="/static/fdeed94fb2284bd4b76c1fb8f097c99c.jpg"/>-->
<!--<img style="width: 40%" src="/static/fdeed94fb2284bd4b76c1fb8f097c99c.jpg"/>-->
<ul>
    <li>a</li>
    <li>b</li>
    <li>c</li>
</ul>

<ol>
    <li>a</li>
    <li>b</li>
    <li>c</li>
</ol>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>10</td>
        <td>计算机</td>
        <td>18</td>
    </tr>
    <tr>
        <td>10</td>
        <td>科学</td>
        <td>18</td>
    </tr>
    <tr>
        <td>10</td>
        <td>技术</td>
        <td>18</td>
    </tr>
    <tr>
        <td>10</td>
        <td>电脑</td>
        <td>18</td>
    </tr>
    <tr>
        <td>10</td>
        <td>问题</td>
        <td>18</td>
    </tr>
    </tbody>
</table>

<h1>input系列</h1>

<input type="text"/>
<input type="password"/>
<input type="file"/>

<!-- 两者的name属性相同->就是两者只能选一个 -->
<input type="radio" name="n1"/>男
<input type="radio" name="n1"/>女

<input type="checkbox"/>唱
<input type="checkbox"/>跳
<input type="checkbox"/>rap
<input type="checkbox"/>篮球
<input type="checkbox"/>dance
<input type="checkbox"/>sing

<input type="button" value="这是Button里面显示的东西"/>
<input type="submit" value="这是submit里面显示的东西"/> <!-- 提交表单 -->

<select>
    <option>北京</option>
    <option>上海</option>
    <option>广州</option>
</select>

<h1>多选下拉框</h1>

<select multiple>
    <option>北京</option>
    <option>上海</option>
    <option>广州</option>
</select>

<!--<textarea></textarea>-->
<textarea rows="3"></textarea>
</body>
</html>
