<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Email</th>
        <th>Operator</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>0</td>
        <td>computer</td>
        <td><img src="/static/a1.jpg" alt="" style="height: 50px"/></td>
        <td>123@163.com</td>
        <td>
            <a href="https://www.baidu.com">编辑</a>
            <a href="https://www.baidu.com">删除</a>
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>computer</td>
        <td><img src="/static/a1.jpg" alt="" style="height: 50px"/></td>
        <td>123@163.com</td>
        <td>
            <a href="https://www.baidu.com">编辑</a>
            <a href="https://www.baidu.com">删除</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>computer</td>
        <td><img src="/static/a1.jpg" alt="" style="height: 50px"/></td>
        <td>123@163.com</td>
        <td>
            <a href="https://www.baidu.com">编辑</a>
            <a href="https://www.baidu.com">删除</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>computer</td>
        <td><img src="/static/a1.jpg" alt="" style="height: 50px"/></td>
        <td>123@163.com</td>
        <td>
            <a href="https://www.baidu.com">编辑</a>
            <a href="https://www.baidu.com">删除</a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>computer</td>
        <td><img src="/static/a1.jpg" alt="" style="height: 50px"/></td>
        <td>123@163.com</td>
        <td>
            <a href="https://www.baidu.com">编辑</a>
            <a href="https://www.baidu.com">删除</a>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>