<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="/static/commons.css" />
</head>
<body>
  <h1 class="xx">用户注册</h1>
  <div>
        用户名: <input type="text" />
  </div>

  <div>
        密码: <input type="password" />
  </div>

  <div>
        性别: <input type="radio" name="sex"/> 男 <input type="radio" name="sex"/> 女
  </div>

  <div>
        爱好:
        <input type="checkbox" />唱
        <input type="checkbox" />跳
        <input type="checkbox" />rap
        <input type="checkbox" />篮球
  </div>

  <div>
      所在城市:
      <select name="selection_city" id="select-city">
          <option value="">北京</option>
          <option value="">上海</option>
          <option value="">广州</option>
          <option value="">深圳</option>
          <option value="">甘肃</option>
          <option value="">西安</option>
      </select>
  </div>

  <div>
      擅长领域：
      <select name="selection_good_at" id="select-good-at" multiple>
          <option value="games">打游戏</option>
          <option value="eat">吃饭</option>
          <option value="sleep">睡觉</option>
          <option value="wc">上厕所</option>
          <option value="sing">唱歌</option>
          <option value="dance">跳舞</option>
      </select>
  </div>

  <div>
        备注:
        <textarea></textarea>
  </div>

  <div>
        <input type="button" value="提交">
        <input type="submit" value="提交">
  </div>



<div>
  <form action="/register" method="get">
    用户名： <input type="text" name="user">
    密码： <input type="password" name="pwd">
    <input type="submit" value="点击提交">
  </form>
</div>
  <h1>POST表单提交</h1>
    <div>
      <form action="/register" method="post">
        <div>
            用户名： <input type="text" name="user">
        </div>

        <div>
            密码： <input type="password" name="pwd">
        </div>

      <div>
        性别:
          <input type="radio" name="gender" value="man"/> 男
          <input type="radio" name="gender" value="woman"/> 女
        </div>
    <div>
      爱好:
        <input type="checkbox" name="hobby" value="sing"/>唱
        <input type="checkbox" name="hobby" value="dance"/>跳
        <input type="checkbox" name="hobby" value="rap"/>rap
        <input type="checkbox" name="hobby" value="basketball"/>篮球
    </div>

    <div>
      所在城市:
      <select name="selection_city" id="select-city">
          <option value="beijing">北京</option>
          <option value="shanghai">上海</option>
          <option value="guangzhou">广州</option>
          <option value="shenzhen">深圳</option>
          <option value="gansu">甘肃</option>
          <option value="xian">西安</option>
      </select>
    </div>

      <div>
        擅长领域：
      <select name="selection_good_at" id="select-good-at" multiple>
          <option value="games">打游戏</option>
          <option value="eat">吃饭</option>
          <option value="sleep">睡觉</option>
          <option value="wc">上厕所</option>
          <option value="sing">唱歌</option>
          <option value="dance">跳舞</option>
      </select>
      </div>

  <div>
        备注:
        <textarea name="more"></textarea>
  </div>

      <div>
        <input type="submit" value="点击提交">
      </div>
      </form>
    </div>
</body>
</html>