<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我是孩童啊，走在你的眼眸。</title>
    <link rel="stylesheet" href="./static/plugins/bootstrap-3.4.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="./static/plugins/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./static/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css">

</head>
<body>
<h1>添加用户</h1>
<img src="\static\img\bee.png" alt="..."/>


<script src="./static/js/jquery37/jquery-3.7.1.js"></script>
<script src="./static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>
<script src="./static/plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<script src="./static/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    /// ...
</script>
</body>
</html>